.modal{
    width:100%;
}
.modal img{
    position:relative;
    z-index: 999;
    left:10%;
    margin-top:3%;
    border-radius: 5px;
}
.modal-content{
    width:80%;
    background-color: white;
    height:500px;
    border-radius: 20px;
    position:absolute;
    top:20%;
    left:15%
}
.content{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:60%;
    position:relative;
    left:35%;
    color:#555555
}
.close{
    font-size: 30px;
    margin-top: 4%;
    font-weight: bold;
    color:#555555;
    width:100%;
    display:flex;
    justify-content: flex-end;
    cursor:pointer
}
.content button{
    background-color: #ff6f00;
    border:none;
    width:20%;
    display:flex;
    justify-content: center;
    height:40px;
    border-radius: 20px;
    align-items: center;
    color:white;
    gap:5%;
    margin-top:5%;
    cursor:pointer
}